a {
  text-decoration: none;
  color: inherit;
}

h4 {
  margin-bottom: 6px;
}

h4 span {
  color: #bbb;
  font-size: 0.9rem;
}

div[lang="ar"] {
  font-family: "Cairo";

  h4 {
    margin-bottom: 8px;
    font-family: "Cairo";
  }

  p {
    line-height: 1.4;
    font-size: 0.9rem;
  }
}

p {
  line-height: 1.2;
}
