// scss files need to be scoped!
.post_link {
  a {
    text-decoration: none;
    color: inherit;
  }

  h5.title {
    margin-bottom: 6px;
  }

  h5 .date {
    color: #bbb;
    font-size: 0.8rem;
  }

  p {
    line-height: 1.2;
    font-size: 0.88rem;
  }
}

.post_link[lang="ar"] {
  direction: rtl;
  font-family: "Cairo";

  h5 {
    margin-bottom: 8px;
    font-family: "Cairo";
  }

  p {
    line-height: 1.4;
    font-size: 0.8rem;
  }
}
